/*
  Специально для тёмной темы при наличии класса.
  Здесь указываются стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --accent-color-transparent: rgb(255, 0, 112, 0.4);
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-bg-color: var(--accent-color, #ff0070);
  --rec-display: inline;
}