/* Основные стили проекта */

.page {
  color: var(--text-color, #f1b2ce);
  font: 1.125rem/1.3 'IBM Plex mono', Courier, monospace;
  background-color: var(--bg-color, #000028);
  background: var(--bg-image, url('../images/cover-image-dark.png')) no-repeat center / cover fixed;
}

/* Header & Footer decorated zone */

.decorated-zone {
  position: relative;
  padding: 10px;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
  inset-inline-start: 10px;
  inset-block-end: 10px;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
  block-size: 25px;
  inline-size: 25px;
}

@media (width >=768px) {
  .decorated-zone {
    padding: 20px 20px 20px 10px;
  }

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
}

/* Header */

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-block-size: 100vh;
}

.header__theme-menu {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-inline-start: 10px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-item {
  min-inline-size: 70px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-block-end: 3px;
  color: var(--accent-color, #ff0070);
  line-height: 1;
  text-transform: lowercase;
  background-color: inherit;
  cursor: pointer;
  inline-size: 100%;
  min-block-size: 26px;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparent, rgb(255, 0, 112, 0.4));
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color, #ff0070);
  outline: none;
}

.title {
  color: var(--title-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.835;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

@media (width >=768px) {
  .title {
    position: relative;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    inset-inline-start: -10px;
  }
}

.header__text {
  place-self: center end;
  inline-size: max(calc(50% - 6px), 355px);
  max-inline-size: 491px;
}

.title-decor {
  color: var(--accent-text-color, #000028);
  font-family: 'IBM Plex mono', Courier, monospace;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.31;
  background-color: var(--accent-bg-color, #ff0070);
}

.header__rec {
  display: var(--rec-display, inline);
}

.header__rec::before {
  content: 'REC';
  position: absolute;
  color: var(--accent-color, #ff0070);
  line-height: 1.39;
  inset-inline-end: 38px;
  inset-block-start: 10px;
}

.header__rec::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inset-inline-end: 19px;
  inset-block-start: 18px;
  block-size: 9px;
  inline-size: 9px;
}

@media (width >=768px) {
  .header__rec::before {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__rec::after {
    inset-block-start: 28px;
    inset-inline-end: 29px;
  }
}

/* Content & Sections */

.content {
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
  padding: 40px 10px;
}

@media (width >=768px) {
  .content {
    row-gap: 80px;
    padding: 60px 20px;
  }
}

@media (width >=1024px) {
  .content {
    padding: 60px 20px;
  }
}

.section__title {
  padding-block-end: 20px;
  color: var(--accent-color, #ff0070);
  font-size: 18px;
}

@media (width >=768px) {

  .focus-section,
  .advices-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
    row-gap: 80px;
    column-gap: 20px;
  }
}

@media (width >=1024px) {

  .focus-section,
  .advices-section {
    column-gap: 10px;
  }

  .focus-section__title,
  .advices-section__title {
    padding-inline-end: 10px;
  }
}

.reducers-section {
  display: grid;
}

.reducers-section__cards {
  display: grid;
  row-gap: 20px;
}

@media (width >=768px) {
  .reducers-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    column-gap: 20px;
  }

  .reducers-section__header {
    grid-column: 1 / 2;
  }

  .reducers-section__cards {
    grid-column: 1 / 4;
    grid-row: 2;
  }
}

@media (width >=1024px) {
  .reducers-section__cards {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

/* Cards */

.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.card__title {
  margin-block-end: 10px;
}

.card__title_regular {
  font-weight: 400;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-bg-color, #ff0070);
}

.card__link:hover {
  border-block-end: 1px solid currentColor;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

/* Advices section */

.advices__title {
  margin-block-end: 20px;
}

/* Pictures */

.pictures-section__title {
  margin-block-end: 10px;
}

.pictures-container {
  display: grid;
  gap: 10px;
  inline-size: 100%;
}

.picture {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >=768px) {
  .pictures-section__title {
    margin-block-end: 20px;
  }

  .pictures-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
  }

  .pictures-container>li:nth-of-type(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .pictures-container>li:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .pictures-container>li:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .pictures-container>li:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .pictures-container>li:nth-of-type(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

/* Footer */

.footer {
  display: grid;
  place-items: center;
  min-block-size: 100vh;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width >=768px) {
  .footer {
    padding-inline-start: 40px;
  }
}